body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ff6200;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
  z-index: 1000;
  transition: top 0.5s ease-in-out, background-color 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#main-header.transparent {
  background-color: rgba(255, 98, 0, 0.8); 
}

.logo {
  width: 110px;
  height: auto;
  margin-left: 85px;
}

.logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

ol, ul {
  list-style: none;
  margin-right: 85px;
}
li {
  display: inline-block;
  padding: 20px 0 20px;
  vertical-align: middle;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}
a {
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
}
a {
  position: relative;
  display: block;
  padding: 16px 0;
  margin: 0 12px;
  line-height: 16px;
  transition: color 0.1s, background-color 0.1s,padding 0.2s ease-in;
  color: #fff;
}
a::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s ease-out; 
}

a:hover::before, a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.banner {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 400px;
}

.banner-image img {
  width: 100%;
  height: auto;
  display: block;
  transform: translate3d(0, 0, 0); 
  background-attachment: fixed;
}

.banner::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px; /* tinggi miring */
  background: linear-gradient(to bottom right, transparent 49.5%, #fff 50%, #fff);
  z-index: 1;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  padding: 20px;
  z-index: 2;
}

.banner-content h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 1.2em;
}

/*list container*/

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

label {
  font-size: 14px; 
}


.status-container {
  margin-right: 380px; 
  margin-left: 0;
  font-size: 14px;
}

.options-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: flex-start; /* Mengubah posisi menjadi sebelah kiri */
}

.show-per-page-container,
.sort-container, .status-container {
  display: flex;
  align-items: center; /* Menjaga agar tulisan dan dropdown berada pada garis yang sama */
}


/* Dropdown */
select {
  /* Atur warna latar belakang, warna teks, dan font */
  background-color: #ffffff;
  color: #333333;
  font-family: 'Arial', sans-serif;

  /* Atur border dan border-radius */
  border: 1px solid #999999;
  border-radius: 5px;

  /* Atur padding dan margin */
  padding: 8px;
  margin: 5px;

  /* Atur cursor saat hover */
  cursor: pointer;
}

/* Ubah gaya hover dan focus */
select:hover, select:focus {
  background-color: #f0f0f0;
}


.post-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.post-card {
  text-align: left; 
  width: 100%;
  max-width: 180px;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px; 
  border-radius: 5px;
}

.post-card a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s;
}

.post-card a:hover {
  transform: scale(1.05);
}

.post-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-date {
  font-size: 0.8em;
  color: #666;
  margin-top: 4px; 
}

.post-title {
  font-size: 0.9em;
  margin-top: 4px; 
  max-height: 3.5em; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  white-space: normal; /* Memastikan tidak ada elipsis di dalamnya */
}

.post-image {
  overflow: hidden;
}

.post-image img {
  width: 100%; 
  height: auto;
  display: block;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
}

.current-page {
  background-color: #ff6200;
  border-radius: 5px;
  font-size: 13px;
  margin: 0 10px;
  color: #000;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
}












